{% extends 'base.html.twig' %}
{% block title %}Comptes - Super Site
{% endblock
%}
{% block body %}

	<main class="grid grid-cols-3 gap-2 p-2 items-center justify-center">
		{% for account in accounts %}
			<article class="flex flex-col justify-between border-2 border-cyan-300 p-2 h-48 w-full">
				<header>
					<h2>
						<span>{{ account.firstname }}</span>
						<span>{{ account.lastname }}</span>
					</h2>
					<p>Son id est
						{{ account.id }}</p>
				</header>

				<footer class="flex justify-end">
					<p>
						Email :
						<span>{{ account.email }}</span>
					</p>
				</footer>

				{% if errorMsg is defined %}
					<p class="text-red-500">{{ errorMsg }}</p>
				{% endif %}

			</article>
		{% endfor %}
	</main>
{% endblock %}
